/* Basic Setup */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: lightyellow;
  color: #000000;
}

/* Header & Navigation */
header {
  background-color: #e7c748;
  color: white;
  text-align: center;
  padding: 20px 0;
  position: sticky;
  top: 0;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  padding: 8px 12px;
}

nav a:hover {
  background-color: rgb(240, 240, 138);
  border-radius: 5px;
}

/* Sections */
section {
  padding: 40px 20px;
  text-align: center;
}

h2 {
  color: rgb(0, 0, 0);
}

/* About Section */
#about img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 15px 0;
  box-shadow: 0 0 10px #aaa;
}

/* Skills Table */
table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 60%;
}

th,
td {
  border: 1px solid #ccc;
  padding: 10px;
}

th {
  background-color: rgb(228, 228, 22);
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Buttons */
button {
  background-color: rgb(202, 202, 14);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(215, 215, 19);
}

/* Back to Top Button */
#topBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
